section,
.site-main
  padding-top: 9.5rem
  padding-bottom: 9.5rem
  +sm-block
    padding-top: 4rem
    padding-bottom: 4rem

.section-title
  margin-bottom: 5rem
.section-descr
  max-width: 68rem
  margin: 0
  font-family: $axiforma
  font-size: 1.8rem
  +sm-block
    font-size: 1.4rem

.section-head
  margin-bottom: 5rem
  .section-title
    margin-bottom: 0.5rem
  .section-descr
    margin: 0 auto