a
  color: #000
  +trans
  text-decoration: none
  &:hover, &:focus
    color: $accent
    outline: none
    text-decoration: none

p
  margin-top: 0

h1, h2, h3, h4, h5, h6
  margin-top: 0
  font-family: $din
  font-weight: normal
  line-height: 1
  letter-spacing: 0.06em
  text-transform: uppercase
h1
  font-size: 7.2rem
  +md-block
    font-size: 5rem
  +sm-block
    font-size: 3rem
h2
  font-size: 4.8rem
  +md-block
    font-size: 3.5rem
  +sm-block
    font-size: 2.5rem
h3
  font-size: 3rem
  +sm-block
    font-size: 2rem

.text-center
  text-align: center

.rub
  font-family: Arial, sans-serif !important